@import url('https://fonts.googleapis.com/css2?family=Oregano&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//font-family: 'Oregano', cursive;
//font-family: 'Quicksand', sans-serif;


//Background img 1:-
// .bg1 {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/bg2.jpg");


//     background-position: center;
//   height: 90vh;
// width:100vh;
//     background-size: cover;
//    background-attachment: fixed;
// }

#myVideo
{
    right:0;
    bottom:0;
    min-width: 100%;
   min-height: 100%;
}
.pap{
    position:absolute;
    top:42px;
    width:80%;
    margin-left: 100px;
    background-color: transparent !important;
}

// @media(min-width:1200px) {
//     .container {
//         max-width: 1230px;
//     }
// }

//Logo
.logo {
    // margin-left: -80px !important;
    width: 170px;
    left:-50px;
}


//Navbar



.nav-link {
    font-size: 20px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;


    &:hover {
        color: #311B92;

    }

    a {
        padding-left: 20px;
    }

}


.dropdown {

    a {
        color: #fff;
        font-family: 'Quicksand', sans-serif;

        //gap:10px;
    }

    &:hover .dropdown-menu {

        display: block;
        background-color: #311B92;

    }
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 20px;
    margin-right: 15px;
}

.cart {
    margin-right: 100px;
    font-size: 25px;
    color: #fff;
    font-weight: 400;

    &:hover {
        color:red;
    }
}

.bg1h {
top:200px;
left:370px;
    font-family: 'Oregano', cursive;
    text-align: center;

    color: #fff;

    h1 {
        font-size: 60px !important;
        font-weight: lighter;
        margin-top: 100px !important;
        text-align: center;
    }

}

.button1 {
    background-color: #311B92;
    border: 1px solid #311B92;
    font-family: 'Quicksand', sans-serif;
    padding: 10px 35px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;

    &:hover {
        background-color: transparent;
        border: 1px solid #fff;
    }
}


//Popularrigion
.popular {
    font-family: 'Quicksand', sans-serif;


    .aa {
        color: #d1cccc;
        font-size: 22px;
        font-weight: 500;
    }

    .bb {
        font-size: 55px;
        font-weight: 550;
    }

    .cc {
        font-size: 22px;
        color: #8f8b8b;
        margin: 0px 120px;

    }
}

//Flage
.box
{
    position: relative;
   
    border-radius: 50%;
    box-shadow: 3px 0 16px 8px rgba(9,  9,26, 0.07);
    height:150px;
    width:150px;
    font-family: 'Quicksand', sans-serif;
    margin: 20px;
    .img1{
       position: absolute;
       font-family: 'Quicksand', sans-serif;
       font-weight: 500;
       top: 33px;
       right: 33px;
       object-fit: contain;
       a{
        text-decoration: none;
       }

    }

   
}
//Visit

.img2
{
    object-fit:contain;
}
.dd{
    margin-top:45px !important ;
}

////font-family: 'Oregano', cursive;
//font-family: 'Quicksand', sans-serif;
.btn2
{
    margin-left: 100px;
    padding:8px 28px;
    font-size: 18px;
    background-color: #311B92;
    color:#fff;
    margin-bottom: 30px;
 
    &:hover{
        background-color: green;
        color:#fff;
    }
}
.card-body{
    font-family: 'Quicksand', sans-serif;
  
}
.card{
    box-shadow: 3px 0 16px 8px rgba(9,  9,26, 0.07);
    border: none;
 
    .card img{
        transition: 0.3s;
    }

    &:hover img{
        transform: scale(0.9);

    }
}

//Destination
.bg4
{
    background-image:  linear-gradient(rgba(73, 61, 247, 0.5), rgba(0, 0, 0, 0.5)),url('./Images/bg3.jpg');
    background-repeat: no-repeat;
    height:80vh;
    background-size: cover;
    background-attachment: fixed;
    
 

}
.dist
{
    padding-top: 180px !important;
}
.dest
{
    font-family: 'Oregano', cursive;
    font-size: 70px;
    font-weight: 500;
    color: #fff;
}
.pp1{
    font-family:  'Quicksand', sans-serif;;
}

.button2
{
    margin-top: 20px;
    padding:15px 20px;
    border-radius: 5px;
    border:1px solid #FFF; 
    background-color: transparent;
    color:#fff;
   font-size: 20px !important;

    &:hover{
        background-color: #fff;
        color:#000;
    }
}

//Banner

.star
{
   i{
    color: #1EC6B6;
   }
}

//Banner1
.cbody
{
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color:#8b8484;
}
.title
{
    color: #311B92;
    font-weight: 700;
    font-size: 25px;
}

.crd1
{
    margin-top: 100px;
    margin-bottom: 10px;
  
}
.ctr1
{
    box-shadow:3px 0 76px 8px rgba(9,  9,26, 0.07);
    margin-top: 40px;
}
.crd:hover{
    box-shadow: 0 7px 76px 15px rgba(9,  9,26, 0.07);
  
}

//Adventure
.bg5
{
    background-image:  linear-gradient(rgba(73, 61, 247, 0.5), rgba(0, 0, 0, 0.5)),url('./Images/bg5.jpg');
    background-repeat: no-repeat;
  //height:130vh;
    background-size: cover;  
    background-attachment: fixed;
}
.pppp
{
    opacity: 20px;
}
.brdbdy
{
    height:180px;
    font-family: 'Quicksand', sans-serif !important;

    text-align: center;
    color:#312f2f;
 .nn{
    font-weight: 500 !important;
 }
    .bbb{
        font-weight: 500;
    }
    .btn5
    {
        
        margin-top: 20px !important;
        background: transparent;
        color:#545050;
        border:1px solid #8c8989;
        padding:5px 15px;
        font-weight: 500;
        &:hover{
            background-color:#311B92;
            color:#fff;
        }
    }
}

//Pictures
.vv
{
    font-family: 'Oregano', cursive;
    font-weight: 400;
}



.pic img{
    transition: 0.3s;
    overflow: hidden;
    &img:hover {
        transform: scale(1.1);
    }
}



//Contact

    .bg6
    {
        background-image:  linear-gradient(rgba(25, 10, 234, 0.5), rgba(48, 4, 244, 0.5)),url('./Images/bg5.jpg');
        background-repeat: no-repeat;
        height:60vh;
        background-size: cover;  
        position: sticky;
        margin-top:80px;
        background-attachment: fixed;
    }
    .plan
    {
        //font-family: 'Quicksand', sans-serif !important;
        font-family: 'Oregano', cursive;
        color:#fff;
        font-size: 50px;
        margin-right: 45px;
    }
    .call{
        font-size: 130px;
       margin-left: 180px;
       color:white;
    }
    .phn{
        font-family: 'Oregano', cursive; 
        font-size: 60px;
        text-align: center;
        color:white;
    }
   .btn6
   {
    margin-left:180px;
   background: #fff;
   color:#311B92;
   font-size: 20px;
   margin-top: 20px;
   border: 1px solid white !important;
   font-family: 'Quicksand', sans-serif !important;
    padding:15px 55px;
    &:hover{
        background: transparent;
        
    }
   }

   //Footer


   footer{
    font-family: 'Quicksand', sans-serif !important;
   
   }
   .style
   {
    list-style: none;

    a {
        text-decoration: none;
        color: #757373;
        font-size: 18px;
        line-height: 34px;
        &:hover
        {
            color:#311B92 !important;
        }
    }
   
   }
   .ctrr{
    font-family: 'Quicksand', sans-serif !important;
   }
   .ss
   {
    width:400px;
    padding: 10px 30px;
    font-size: 20px;
    box-shadow:3px 0 76px 8px rgba(10,  9,6, 0.07);
    
    .btn8
    {
     margin-left: -10px;
        background-color:#311B92;
        font-size: 16px;
        color:#fff;
    }
   }

   .nnn
   {
    color: #757373;
    font-size: 20px;
    margin-top:10px;
    line-height: 34px;
   }
   .rrr{
    color: #757373;
    font-size: 20px;
   }
   .kk
   {
    font-family: 'Quicksand', sans-serif !important;
    color:#757373;
   }


   .style1
   {
    list-style: none;


    a {
        text-decoration: none;
        color: #757373;
        font-size: 20px;
        line-height: 34px;
        display:inline !important;
        margin-top: 5px;
       
        &:hover
        {
            color:#311B92;
        }
    }
   
   }

//    //Destination Page
//    .bg2h {

//     font-family: 'Oregano', cursive;
//     text-align: center;

//     color: #fff;

//     h1 {
//         font-size: 110px !important;
//         font-weight: lighter;
//         margin-top: 150px !important;
//     }

// }

// .button1 {
//     background-color: #311B92;
//     border: 1px solid #311B92;
//     font-family: 'Quicksand', sans-serif;
//     padding: 10px 35px;
//     border-radius: 8px;
//     font-size: 25px;
//     font-weight: 600;
//     color: #fff;
//     margin-bottom: 10px;

//     &:hover {
//         background-color: transparent;
//         border: 1px solid #fff;
//     }
// }


// //Background img 2:-
// .bg2 {
//     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Images/bgg2.jpg");


//     background-position: center;
//   height: 90vh;
//     //width:100vh;
//     background-size: cover;
//   //  background-attachment: fixed;
// }

//Destination

.btn3{
    border: 2px solid #000;
    background-color: transparent;
  color:#000;
  font-weight: 500;
 margin-left: 8px;
 font-size: 20px;
  padding:10px 15px;
  margin-bottom:15px;
    &:hover{
        background:#311B92 !important;
        color:#fff;
    }
}

.ll{
    width:40px;
    font-family: 'Quicksand', sans-serif !important; 
    font-size: 18px;
 
  
   
}


.box5
{
    box-shadow: 3px 0 16px 8px rgba(9,  9,26, 0.07);    
    width:100%;
    height:500px; 
     
    
   
}

.dd{
    

    .img2{
        transition: 0.2s;
       
    }
    &.dd:hover .img2{
        transform: perspective(1000px) rotate3d(1,0,0,8deg);
       
    }

}
//Shop Page
.btn4
{
    border: 2px solid #000;
    background-color: transparent;
    border-radius: 40px;
  color:#000;
  font-weight: 500;
 margin-left: 8px;
 font-size: 20px;
  padding: 8 px 12px ;
    &:hover{
        background:#311B92 ;
        color:#fff;
    }
    
}


.ss1{
    color:#311B92;
}
.pound{
    color: #311B92;
}

.ull{
    text-decoration: none;
}